body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: url("bgb.png");
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: color .2s;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
    

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 31%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: border-color .2s;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos li h2{
    transition: font-size .2s;
}

.produtos li:hover h2{
    font-size: 30px;
}

.produtos h2{
    font-size: 25px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
    
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    color: #ffffff;
    background: url("bg.jpg");
    padding: 40px 0;    
}

.fundo{
    background: #f2f2f2;
}

.copyright{
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;   
    font-size: 20px;
    margin-bottom:10px ;
}

.input-padrao{
    border: 1px solid #000000;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;   

}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    background: #ffa500;
    transition:  all .3s;
    color: #ffffff;
    border: 1px solid #b36b00;
    border-radius: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.enviar:hover{
    background:  #e67e00;
    transform: scale(1.07);
}

.fieldset{
    margin-top: 35px;
}



table{
    margin: 20px 0 40px;
}

thead{
    background: #555;
    color: ;
    font-weight: bold;
}

td, th{
    border: 1px solid #000;
    color: #000;
    padding: 8px 15px;
}

tbody, th{
    color: #fff;
}

.tabela{
    position: relative;
}